:root {
    --black: #000000;
    --dark-grey: #A9A9A9;
    --almost-white: #FAFAFA;
    --white: #FFFFFF;

    /* Light mode colors */
    --pink: #f0aafa;
    --cyan: #00d4ff;
    --purple: #9090ff;

    /* Dark mode colors */
    --dark-pink: #81448C;
    --dark-blue: #00104f;
    --dark-purple: #461a4d;
}

/* Set default theme to light theme */
:root {
    --c-background: var(--cyan);
    --c-background-gradient-mid: var(--purple);
    --c-background-gradient-end: var(--pink);
    --c-text: var(--black);
    --c-accent: var(--pink);
    --c-navbar: var(--white);
}

@media (prefers-color-scheme: dark) {
    :root {
        --c-background: var(--dark-blue);
        --c-background-gradient-mid: var(--dark-purple);
        --c-background-gradient-end: var(--dark-pink);
        --c-text: var(--almost-white);
        --c-accent: var(--pink);
        --c-navbar: var(--purple);
    }
}

html {
    height: 100%;
    background-repeat:no-repeat;
    background: var(--c-background); 
    background: linear-gradient(0deg, var(--c-background-gradient-end) 0%, var(--c-background-gradient-mid) 25%, var(--c-background) 100%); 
    background-attachment: fixed;
    font-family: "glacial_indifferenceregular", "Times New Roman";
    color: var(--c-text);
}

body {
    font-size: 18px;
    max-width: 960px;
    margin: auto;
}

header {
    margin: 0;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
}

header h1 {
    font-family: "glacial_indifferencebold";
    font-size: 80px;
    margin: 0;
    width: 50px;
}

nav {
    background: var(--c-navbar);
    opacity: 0.5;
    text-align: right;
    padding-right: 10px;
    font-size: 25px;
    position: relative;
    bottom: 45px;
    z-index: -1;
}

header { 
    background: url("/assets/wave.svg");
    background-size: 25px 20px; 
    background-repeat: repeat-x;
    background-color: transparent;

    animation: move 25s linear infinite;
    -webkit-animation: move 25s linear infinite;
    animation-play-state: running;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
    // border-bottom: none;
}

@-webkit-keyframes move {
from {
    background-position: 2px 19px;
  }
  to {
    background-position: 500px 19px;
  }
}

@keyframe move {
from {
    background-position: 2px 19px;
  }
  to {
    background-position: 500px 19px;
  }
}

a {
    text-decoration: none;
}
header a:link, header a:visited {
    color: var(--c-text);
}
header a:hover {
    color: var(--c-accent);
}

.index {
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
}
 
.index li:before {
    color: var(--c-accent);
    content: '# \0000a0';
    font-size: 1.5em;
    font-weight: bold;
    float: left;
}

main {
    padding: 10px;
}

main a {
    border-bottom: 0.15em solid var(--c-accent);
    color: --c-text;
}
main a:link, main a:visited {
    color: var(--c-text);
}
main a:hover {
    background-color: var(--c-accent);
}

main h2 {
    margin-bottom: 0;
}

h2 + p {
    margin: 0;
    font-style: italic;
}

.highlight {
    background: rgba(255, 255, 255, 0.4);
    margin-top: 0px;
    padding-top: 2px;
    margin-bottom: 0px;
    margin-bottom: 2px;
    margin-left: 10px; 
    font-size: 14px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
