:root {
    --black: #000000;
    --dark-grey: #A9A9A9;
    --almost-white: #FAFAFA;
    --white: #FFFFFF;

    /* Light mode colors */
    --pink: #f0aafa;
    --cyan: #00d4ff;
    --purple: #9090ff;

    /* Dark mode colors */
    --dark-pink: #81448C;
    --dark-blue: #00104f;
    --dark-purple: #461a4d;
}

/* Set default theme to light theme */
:root {
    --c-background: var(--cyan);
    --c-background-gradient-mid: var(--purple);
    --c-background-gradient-end: var(--pink);
    --c-text: var(--black);
    --c-accent: var(--pink);
    --c-navbar: var(--white);
}

@media (prefers-color-scheme: dark) {
    :root {
        --c-background: var(--dark-blue);
        --c-background-gradient-mid: var(--dark-purple);
        --c-background-gradient-end: var(--dark-pink);
        --c-text: var(--almost-white);
        --c-accent: var(--pink);
        --c-navbar: var(--purple);
    }
}

html {
    height: 100%;
    background-repeat: no-repeat;
    background: var(--c-background); 
    background: linear-gradient(0deg, var(--c-background-gradient-end) 0%, var(--c-background-gradient-mid) 20%, var(--c-background) 100%); 
    background-attachment: fixed;
    font-family: "Helvetica", "Times New Roman";
    color: var(--c-text);
}

body {
    font-size: 16px;
    max-width: 960px;
    margin: auto;
    padding: 5px;
}

header {
    margin: 0;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
}

header h1 {
    font-size: 35px;
    margin: 0;
    width: 50px;
    float: left;
}

nav {
    text-align: right;
    padding-right: 10px;
    font-size: 25px;
    margin-top: 25px;
    float: right;
}

header h1 { 
    background: url("/assets/wave.svg");
    background-size: 25px 20px; 
    background-repeat: repeat-x;
    background-color: transparent;

    animation: move 1s linear infinite;
    -webkit-animation: move 1s linear infinite;
    animation-play-state: running;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
}

@-webkit-keyframes move {
from {
    background-position: 0px 25px;
  }
  to {
    background-position: 25px 25px;
  }
}

@keyframe move {
from {
    background-position: 0px 25px;
  }
  to {
    background-position: 25px 25px;
  }
}

a {
    text-decoration: none;
}

.index {
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
}
 
.index li:before {
    color: var(--c-accent);
    content: '# \0000a0';
    font-size: 1.5em;
    font-weight: bold;
    float: left;
}

main {
    line-height: 24px;
    margin-right: 5px;
    margin-left: 10px;
}

a {
    border-bottom: 0.15em solid var(--c-accent);
    color: --c-text;
}
a:link, a:visited {
    color: var(--c-text);
}
a:hover {
    background-color: var(--c-accent);
}
.title {
    border-bottom: none;
}

main h2 {
    margin-bottom: 0;
}

.index h2 + p {
    margin: 0;
    font-style: italic;
}

.highlight {
    background: rgba(255, 255, 255, 0.4);
    padding-left: 10px; 
    font-size: 14px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
